<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="2 seconds" debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <Pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %-5level  at %logger.%M\(%file:%line\) - %msg%n%throwable)</Pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

